:root {
  --sq-width: 50px;
  --sq-x: 8px;
  --bd-ratio: 4;
  --bd-corner-round: 100%;
}

.outer {
  background: darkblue;
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: var(--sq-width);
  width: var(--sq-width);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  position: relative;
}

.border-h {
  background: darkblue;
  float: left;
  height: calc(var(--sq-width) / var(--bd-ratio));
  width: var(--sq-width);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  position: relative;
}

.border-v {
  background: darkblue;
  float: left;
  height: var(--sq-width);
  width: calc(var(--sq-width) / var(--bd-ratio));
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  position: relative;
}

.border-corner {
  height: calc(var(--sq-width) / var(--bd-ratio));
  width: calc(var(--sq-width) / var(--bd-ratio));
}

.border-tl {
  border-radius: var(--bd-corner-round) 0 0 0;
}

.border-tr {
  border-radius: 0 var(--bd-corner-round) 0 0;
}

.border-br {
  border-radius: 0 0 var(--bd-corner-round) 0;
}

.border-bl {
  border-radius: 0 0 0 var(--bd-corner-round);
}

.inner {
  background: #fff;
  border-radius: 50%;
  width: calc(var(--sq-width) - var(--sq-x));
  height: calc(var(--sq-width) - var(--sq-x));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-p1 {
  background: red;
}

.inner-p2 {
  background: yellow;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}
